<div class='detail' ng-show='show'>
  <div class='overlay' ng-click='hideModal()'></div>
  <div class='dialog' ng-style='dialogStyle'>
    <div class='close' ng-click='hideModal()'>X</div>
    <div class='content'>
        <h1>{{ data.key }}</h1>
        <pre>{{ data|json }}</pre>
        <pre>{{ totals|json }}</pre>
        <keyword data="data" totals="totals"></keyword>
        <div style="text-align: right">
            <button ng-click="add($parent.taxonomy.any)">Any</button>
            <button ng-click="add($parent.taxonomy.and)">And</button>
            <button ng-click="add($parent.taxonomy.not)">Not</button>
            <button ng-click="add($parent.taxonomy.ignore)">Ignore</button>
        </div>
    </div>
    
  </div>
</div>